/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

.container {
  display: flex;
  height: 40px;
  padding: 0px;
  margin-top: 36px;
  width: 1128px;
  margin-top: 32px;
  margin-left: 0px;
  justify-content: center;
}
.search {
  width: 246px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid;
  padding-left: 16px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #808080;
  margin-right: 8px;
}
.search:hover {
  border: 2px solid;
}
.search:focus::placeholder {
  color: #2e2f42;
}
.btn-search {
  border: none;
  justify-content: center;
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
}
.btn-search:hover {
  background: #6c8cff;
}
.loader {
  width: 1128px;
  text-align: center;
  height: 40px;
  padding: 0px;
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  justify-content: center;
}

.hidden {
  display: none;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  width: 1128px;
  height: auto;
  margin-top: 32px;
  justify-content: center;
}
.gallery-item {
  width: calc (100%/3-48px);
  height: 200px;
  border: 1px solid #808080;
  text-align: center;
}
.gallery-image {
  width: 100%;
  height: 152px;
}
.statistic {
  display: flex;
}
.count-header {
  font-weight: 600;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.count {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.statistic-item-likes {
  width: 34px;
  height: 40px;
  margin: 4px 28px 4px 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.statistic-item-views {
  width: 48px;
  height: 40px;
  margin: 4px 27px 4px 0px;
  align-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.statistic-item-comments {
  width: 72px;
  height: 40px;
  margin: 4px 32px 4px 0px;
  align-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.statistic-item-downloads {
  width: 72px;
  height: 40px;
  margin: 4px auto 4px 0px;
  align-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.load-more {
  border: none;
  justify-content: center;
  border-radius: 8px;
  padding: 8px 16px;
  width: 125px;
  height: 40px;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  margin-left: 501px;
  margin-top: 32px;
}
